:root {
    --balloon-width: 100px;
    --balloon-height: 164px;
}

@keyframes balloonRotateAnimation {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(5deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.balloon {
    position: absolute;
    left: var(--left-position);
    bottom: calc(-1 * var(--balloon-height));
    width: var(--balloon-width);
    height: var(--balloon-height);
    animation-composition: add;
    -webkit-tap-highlight-color: transparent;
}

@media (width < 768px) {
    :root {
        --balloon-width: 45px;
        --balloon-height: 74px;
    }
}
