@use '../../variables.scss' as *;
@use '../../mixins.scss' as *;

@mixin blink-animation($start-color, $unique-name) {
    $keyframes-name: blink-bg-color-#{$unique-name};

    animation: #{$keyframes-name} 0.5s ease-in-out;

    @keyframes #{$keyframes-name} {
        0%,
        50%,
        100% {
            background-color: $start-color;
        }
        25%,
        75% {
            background-color: #ffffff;
        }
    }
}

.option {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;

    @include option-item-common-styles;

    &:hover {
        transform: scale(1.006);
    }

    &:active {
        border-color: darken($neutral-color, $amount: 20%);
        background-color: lighten($color: $neutral-color, $amount: 40%);
    }

    &:has(input:disabled) {
        pointer-events: none;
    }

    .option-text {
        text-align: center;
    }

    .option-asset {
        max-width: 15rem;
        max-height: 15rem;

        img,
        video {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    input {
        position: absolute;
        width: 0;
        height: 0;
        opacity: 0;
    }

    svg {
        position: absolute;
        top: -0.75rem;
        right: -0.75rem;
        border-radius: 50%;
        background-color: #ffffff;
    }

    &--selected {
        border-color: darken($neutral-color, $amount: 10%);
        background-color: lighten($color: $neutral-color, $amount: 45%);
    }

    &--not-selected {
        @include option-item-common-disabled-styles;
    }

    &--correct {
        $bg-color: lighten(
            $color: $positive-color,
            $amount: 40%,
        );

        border-color: $positive-color;
        background-color: $bg-color;
        @include blink-animation($bg-color, 'correct');

        svg {
            color: $positive-color;
        }
    }

    &--incorrect {
        $bg-color: lighten(
            $color: $negative-color,
            $amount: 40%,
        );

        border-color: $negative-color;
        background-color: $bg-color;
        @include blink-animation($bg-color, 'incorrect');

        svg {
            color: $negative-color;
        }
    }
}
