@use '../../variables.scss' as *;

@mixin blink-animation($start-color, $unique-name) {
    $keyframes-name: blink-bg-color-#{$unique-name};

    animation: #{$keyframes-name} 0.5s ease-in-out;

    @keyframes #{$keyframes-name} {
        0%,
        50%,
        100% {
            background-color: $start-color;
        }
        25%,
        75% {
            background-color: #ffffff;
        }
    }
}

.option {
    position: relative;
    padding: 1.5rem;
    border: 2px solid $neutral-color;
    border-radius: 4px;
    font-size: 1.25rem;
    font-weight: bold;
    background-color: #ffffff;
    box-shadow: 4px -4px 12px #00000014;

    &:not(:has(input:disabled)) {
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
            transform: scale(1.005);
        }

        &:active {
            border-color: darken($neutral-color, $amount: 20%);
            background-color: lighten($color: $neutral-color, $amount: 40%);
        }
    }

    input {
        position: absolute;
        width: 0;
        height: 0;
        opacity: 0;
    }

    svg {
        position: absolute;
        top: -0.75rem;
        right: -0.75rem;
        border-radius: 50%;
        background-color: #ffffff;
    }

    &--selected {
        border-color: darken($neutral-color, $amount: 10%);
        background-color: lighten($color: $neutral-color, $amount: 45%);
    }

    &--not-selected {
        border-color: $disabled-color;
        background-color: lighten($color: $disabled-color, $amount: 12%);
        color: darken($disabled-color, $amount: 10%);
    }

    &--correct {
        $bg-color: lighten(
            $color: $positive-color,
            $amount: 40%,
        );

        border-color: $positive-color;
        background-color: $bg-color;
        @include blink-animation($bg-color, 'correct');

        svg {
            color: $positive-color;
        }
    }

    &--incorrect {
        $bg-color: lighten(
            $color: $negative-color,
            $amount: 40%,
        );

        border-color: $negative-color;
        background-color: $bg-color;
        @include blink-animation($bg-color, 'incorrect');

        svg {
            color: $negative-color;
        }
    }
}
