@use '../variables.scss' as *;

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.03);
    }
    100% {
        transform: scale(1);
    }
}

@mixin draggable-droppable-content {
    &--text {
        font-size: 1.5rem;
    }

    &--emoji {
        font-size: 3rem;
    }
}

.carry {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
    row-gap: 1rem;
    padding: 2rem;
    user-select: none;
}

.draggable {
    z-index: 1;

    .draggable-content {
        @include draggable-droppable-content;
    }
}

.droppable {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    border: 2px dashed $neutral-color;
    font-size: 3rem;
    background-color: #ffffff;

    &--over {
        background-color: lighten($color: $neutral-color, $amount: 45%);
        animation: pulse 0.5s infinite;
    }

    .droppable-content {
        @include draggable-droppable-content;
    }
}
