@use '../../variables.scss' as *;

.explanation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1.5rem;
    border: 2px solid;
    border-radius: 4px;
    font-size: 1.25rem;
    background-color: #ffffff;

    &--correct {
        border-color: $positive-color;
    }
    &--incorrect {
        border-color: $negative-color;
    }

    .explanation-asset {
        width: 12rem;
        height: 12rem;
        margin-bottom: 1.5rem;

        img,
        video {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .explanation-text {
        text-align: center;
    }
}
