@use './variables.scss' as *;

.round {
    display: flex;
    flex-direction: column;
}

.round-header {
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 1.5rem;
    font-size: 3rem;
    border-bottom: 1px solid $neutral-color;
    background-color: #ffffff;
    box-shadow: 0 4px 12px #00000014;
}

.round-content {
    max-width: 60rem;
    margin: 0 auto;
    padding: 1.5rem;

    &:has(+ .round-footer) {
        margin-bottom: 6.75rem;
    }
}

.round-description {
    text-align: center;
    margin-bottom: 5rem;
    font-size: 2.5rem;
    font-weight: bold;

    p {
        margin-block-start: 1em;
        margin-block-end: 1em;
    }
}

.round-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    padding: 1.5rem;
    border-top: 1px solid $neutral-color;
    background-color: #ffffff;
    box-shadow: 0 -4px 12px #00000014;

    & > div {
        display: flex;

        &:nth-child(1) {
            justify-content: flex-start;
        }

        &:nth-child(2) {
            justify-content: center;
        }

        &:nth-child(3) {
            justify-content: flex-end;
        }
    }
}
