$positive-bg-color: #23af23;
$negative-bg-color: #ba2424;
$neutral-bg-color: #ffffff;

$positive-border-color: #23af23;
$negative-border-color: #ba2424;
$neutral-border-color: #888888;

$neutral-color: #000000;
