$positive-bg-color: #39ba39;
$negative-bg-color: #ff0000;
$neutral-bg-color: #ffffff;

$positive-border-color: #39ba39;
$negative-border-color: #ff0000;
$neutral-border-color: #888888;

$neutral-color: #000000;
